#loops -

#for loops  - used for intering over sequence

#while loos - runs as long as condition is True

In [2]:
for i in [2,5,6,9,7]
          print(i)

SyntaxError: expected ':' (<ipython-input-2-360ed9319b27>, line 1)

In [6]:
for i in range(5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (<ipython-input-6-ff840fecd491>, line 2)

In [3]:
fruits =["apple","banana","cherry"]
for i in fruits:
  print(i)

apple
banana
cherry

In [7]:
for a in "python":
  print(a)

p
y
t
h
o
n

In [8]:
for a in(20,78,1,'True',"aditya"):
  print(a)

20
78
1
True
aditya

In [10]:
for a in (56,45,'asm'):
  print(a)

SyntaxError: cannot assign to function call (<ipython-input-10-7bb2bd8e4bbb>, line 1)

In [11]:
student = {"nam":"aditya","age":52,"grade":"A"}

In [13]:
student.values()

dict_values(['aditya', 52, 'A'])

In [14]:
student.keys()

dict_keys(['nam', 'age', 'grade'])

In [15]:
student.items()

dict_items([('nam', 'aditya'), ('age', 52), ('grade', 'A')])

In [19]:
for i,j in student.items():
  print(i,"=",j)

nam = aditya
age = 52
grade = A

In [20]:
for i,j in student.items():
  print(i,"---",j)

nam --- aditya
age --- 52
grade --- A

In [21]:
for i,j in student.items():
  print(i,"++",j)

nam ++ aditya
age ++ 52
grade ++ A

In [22]:
#nested for loop

In [23]:
for i in range(3):
  for j in range(3):
    print(f"({i},{j}))")

(0,0))
(0,1))
(0,2))
(1,0))
(1,1))
(1,2))
(2,0))
(2,1))
(2,2))

In [24]:
for j in range(3):
  for i in range(3):
    print(f"({j},{i}))")

(0,0))
(0,1))
(0,2))
(1,0))
(1,1))
(1,2))
(2,0))
(2,1))
(2,2))

In [26]:
for j in range(5):
  for i in range(5):
    print(f"({j},{i}))")

(0,0))
(0,1))
(0,2))
(0,3))
(0,4))
(1,0))
(1,1))
(1,2))
(1,3))
(1,4))
(2,0))
(2,1))
(2,2))
(2,3))
(2,4))
(3,0))
(3,1))
(3,2))
(3,3))
(3,4))
(4,0))
(4,1))
(4,2))
(4,3))
(4,4))

In [27]:
for j in range(3):
  for i in range(3):
    print(f"(j={j},i={i}))")

(j=0,i=0))
(j=0,i=1))
(j=0,i=2))
(j=1,i=0))
(j=1,i=1))
(j=1,i=2))
(j=2,i=0))
(j=2,i=1))
(j=2,i=2))

#while

In [28]:
i=0
while i<5:
  print(i)
  i=i+1

0
1
2
3
4

In [29]:
i=0
while i<5:
  print('hello world')
  i=i+1

hello world
hello world
hello world
hello world
hello world

In [30]:
#fibonacci sequence

In [33]:
a=0
b=1
while b<60:
  print(b, end ="")
  a=b
  b= a + b

12481632

In [37]:
a=0
b=1
while b <100:
  print(b, end ="")
  temp=b
  b =a+b
  a = temp

1123581321345589

In [38]:
#factorial

In [40]:
num = 5
fact = 1
while num > 1:
  temp = num #current value in temp
  fact = fact*temp
  num=temp-1
  print("factorial of num is:-",fact)

factorial of num is:- 5
factorial of num is:- 20
factorial of num is:- 60
factorial of num is:- 120

In [54]:
num=1234

In [55]:
num % 10

4

In [56]:
a=12345655595

In [58]:
num%784446

1234

In [ ]:
145954225896314789632147