1. Write a Python program to check if a number is positive, negative, or zero.  
2. Write a program that takes a user's age as input and prints whether they are a minor, an adult, or a senior citizen.  
3. Write a program to check if a given number is even or odd.  
4. Write a program to find the largest of two numbers entered by the user.  
5. Write a program that checks if a number is divisible by both 5 and 7.  

### *Intermediate Questions*  
6. Write a program to determine whether a given year is a leap year or not.  
7. Write a program that asks for the user's marks and prints the grade based on the following:  
   - 90-100: A  
   - 80-89: B  
   - 70-79: C  
   - 60-69: D  
   - Below 60: F  
8. Write a Python program that asks the user for their gender (M or F) and prints a message accordingly.  
9. Write a program to check if a number is in the range of 1 to 100.  
10. Write a Python script to check if a triangle is valid based on the sum of its angles (sum must be 180°).  

### *Advanced Questions*  
11. Write a program to determine whether a given character is a vowel or a consonant.  
12. Write a program that asks for a password and checks if it matches a predefined password.  
13. Write a program that takes the three sides of a triangle as input and determines whether it is an equilateral, isosceles, or scalene triangle.  
14. Write a program to check if a person is eligible to vote (age must be 18 or above).  
15. Write a Python program to determine whether a given three-digit number is an Armstrong number or not.  

### *Real-World Scenarios*  
16. A company gives bonuses based on an employee’s salary:  
   - If salary < ₹50,000, bonus is 10%.  
   - If salary ≥ ₹50,000, bonus is 5%.  
   - Calculate and print the bonus amount.  
17. A shop offers a discount based on purchase amount:  
   - Above ₹5000: 20% discount  
   - ₹1000-₹5000: 10% discount  
   - Below ₹1000: No discount  
   - Ask the user for the purchase amount and calculate the final price.  
18. Write a program to check whether a given day is a weekday or a weekend.  
19. Take three numbers as input and print them in ascending order.  
20. A train ticket fare is determined as follows:  
   - Age < 5: Free  
   - Age 5-18: 50% of full fare  
   - Age 18-60: Full fare  
   - Age 60+: 30% discount on full fare  
   - Ask the user for their age and print the applicable fare for a ₹500 ticket.

In [1]:
#check - positive, negative or zero

In [2]:
num = int(input("Enter a number :- "))
if num > 0:
  print("positive")
elif num < 0:
  print("negative")
else:
  print("zero")

Enter a number :- 5
positive

In [3]:
#minor, adult, seniors

In [4]:
age = int(input("enter your age :- "))
if age < 18:
  print("minor")
elif age < 60:
  print("adult")
else:
  print("senior")

enter your age :- 18
adult

In [5]:
#even odd

In [6]:
num = int(input("Enter the number :- "))
if num % 2 == 0:
  print("even")
else:
  print("odd")

Enter the number :- 45
odd

In [7]:
#largetst from 2 number

In [8]:
a = int(input("Enter first number :- "))
b = int (input("Enter second number:- "))
if a > b:
  print("largest number is a ", a)
else:
  print("larget number is b ", b)

Enter first number :- 5
Enter second number:- 8
larget number is b  8

In [9]:
#check divisibal by 5 and 7

In [10]:
num = int(input("enter the number:- "))
if num % 5 == 0 and num % 7 ==0:
  print("The number is divisible by 5 and 7 both")
else:
  print("not divisible by 5 and 7 both")

enter the number:- 9
not divisible by 5 and 7 both

In [11]:
#leap year

In [12]:
year = int(input("Enter a year :- "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
  print("leap year")
else:
  print("not leap year")

Enter a year :- 2000
leap year

In [14]:
2000

2000

In [15]:
#grade

In [16]:
marks = int(input("Enter your marks: "))
if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your marks: 68
Grade: D

In [18]:
#gender based msg

In [19]:
a = "rahul"

In [20]:
a.upper()

'RAHUL'

In [22]:
gender = input("Enter gender (M/F):-").upper()
if gender == "M":
  print("Hello Sir..!")
elif gender == "F":
  print("Hello Mam..!")
else:
  print("Invalid Selection")

Enter gender (M/F):-m
Hello Sir..!

In [23]:
#check number is in range (1 - 100)

In [24]:
num = int(input("Enter a number:-"))
if 1 <= num <= 100:
  print("number is in range 1 to 100")
else:
  print("number is out of range")

Enter a number:-101
number is out of range

In [25]:
##valid trangle with ange = 180

In [26]:
a = int(input("Enter first angle:-"))
b = int(input("Enter second angle:-"))
c = int(input("Enter third angle:-"))
if a + b + c ==180:
  print("valind trangle")
else:
  print("invalid trangle")

Enter first angle:-60
Enter second angle:-60
Enter third angle:-60
valind trangle

In [27]:
#check if character is a vowel or conconenet

In [28]:
char = input("Enter first angle:-").lower()
if char in "aeiou":
  print("vowels")
else:
  print("consonant")

Enter first angle:-a
vowels

In [29]:
# password verification

In [30]:
set_password = "Python@123"

password = input("Enter Your Password:- must contain 1 cap, 1small, 1 char, 1 num, 9 digit")

if password == set_password:
  print("access granted")
else:
  print("invalid passwor")

Enter Your Password:-Tushar@123
invalid passwor

In [31]:
#trangle type

In [32]:
a = int(input("Enter first side:-"))
b = int(input("Enter second side:-"))
c = int(input("Enter third side:-"))

if a == b == c:
  print("equilateral triangle")
elif a ==b or b ==c or a==c:
  print("isoscles triangle")
else:
  print("scalene triangle")

Enter first side:-48
Enter second side:-48
Enter third side:-5
isoscles triangle

In [33]:
#voting -

In [34]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Enter your age: 45
Eligible to vote

In [35]:
#armstrong number . ex= 153 = 1**3 + 5 **3 + 3**3 = 153

In [36]:
str(145)

'145'

In [37]:
num = int(input("Enter a three digit number:- "))

sum_of_digit  = sum(int(i)**3 for i in str(num) )
if num == sum_of_digit:
  print("armstrong number")
else:
  print("not armstrong")

Enter a three digit number:- 153
armstrong number

In [38]:
#bonus on salary

In [39]:
salary = float(input("Enter your salary: "))

if salary < 50000:
  bonus = salary * 0.1
else:
  bonus = salary * 0.05

print("your bonus is :- ", bonus)

Enter your salary: 45000
your bonus is :-  4500.0

In [40]:
#shopping discount

In [41]:
amount = float(input("Enter purchase amount : "))

if amount > 5000:
  discount = amount * 0.2
elif amount >= 1000:
  discount = amount * 0.1
else:
  discount = 0

final_price = amount - discount

print("your final price after discount is", final_price)

Enter purchase amount : 6000
your final price after discount is 4800.0

In [42]:
#check weekday

In [44]:
day = input("Enter a day:-").lower()

if day in ['saturday', 'sunday']:
  print("weekend")
else:
  print("weekday")

Enter a day:-monday
weekday

In [45]:
# three number in ascending

In [46]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

number = [a, b, c]

number.sort()

print("number in ascending order", number)

Enter first number: 8
Enter second number: 6
Enter third number: 2
number in ascending order [2, 6, 8]

In [47]:
#ticket fare

In [51]:
age = int(input("Enter your age: "))

full_fare = 500

if age < 5:
  fare = 0
elif 5 <= age <= 18:
  fare = full_fare * 0.5
elif age > 60:
  fare = full_fare * 0.7
else:
  fare = full_fare

print("your ticket fare is :-", fare)

Enter your age: 5
your ticket fare is :- 250.0